{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
</h1>
{% include "comments/_form.html" %}
{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'comments/comments.js' %}"></script>
{% endblock scripts %}
