<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Блог оптимиста про быт питониста</title>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>
